<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link href="{{ grunt_asset('compass/compass.css') }}" media="all" rel="stylesheet" />
            <link href="{{ grunt_asset('css/main.css') }}" media="all" rel="stylesheet" />
        {% endblock %}

        {% block javascripts_head %}
            <script src="{{ grunt_asset('js/head.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ grunt_asset('js/vendor.js') }}"></script>
        {% endblock %}
    </body>
</html>
