body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
}

.container {
  margin: 80px auto;
  width: 400px;
  text-align: center;

  .pagination { margin: 15px 0; }
}

.pagination {
  padding: 8px;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #070809 #0d0e0f #131517;
  border-color: rgba(black, .8) rgba(black, .65) rgba(black, .5);
  border-radius: 3px;

  > span, > a {
    float: left;
    margin-left: 5px;
    padding: 0 6px;
    min-width: 17px;
    line-height: 27px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #d4d4d4;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
  }

  :first-child { margin-left: 0; }

  > a {
    text-decoration: none;
    text-shadow: 0 1px black;
    background-clip: padding-box;
    border-color: rgba(black, .9);

    &:hover {
      background-color: #333;
      background-color: rgba(white, .05);
    }
  }

  > span, > a:active {
    color: #eee;
    text-shadow: 0 -1px black;
    background: #1c1c1c;
    background: rgba(white, .01);
    border-color: black rgba(black, .65) rgba(black, .6);
  }

  .previous, .next {
    font-family: Noteworthy, Arial, sans-serif;
    font-size: 14px;
  }
}