{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div id="items" class="row"></div>

        <script id="itemTemplate" type="text/html">
            <div class="col-xs-4 col-md-3">
                <div class="thumbnail">
                    <img src="/uploads/<%= relative_path %>"/>
                    <div class="caption">
                        <h3><%= id %></h3>
                        <p><%= created_at %></p>
                    </div>
                </div>
            </div>
        </script>

        <div id="paginationHtml" class="navigation"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        ;(function ($) {
            function rebindNavigation() {
                $("#paginationHtml A").click(function () {
                    $("#items").empty();
                    var url = $(this).attr("href");
                    loadDataAjax(url);
                    window.history.pushState("", "", url);
                    return false;
                });
            }

            var ItemView = Backbone.Marionette.ItemView.extend({
                template: '#itemTemplate'
            });

            var CollectionView = Backbone.Marionette.CollectionView.extend({
                childView: ItemView
            });

            function loadDataAjax(url) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data) {
                        var collection = new Backbone.Collection(data.pagination.items);

                        var view = new CollectionView({
                            collection: collection
                        });

                        $("#items").append(view.render().el);

                        $("#paginationHtml").html(data.pagination.paginationHtml);

                        rebindNavigation();
                    }
                });
            }

            loadDataAjax('{{ url('default-album-view', { id: app.request.get('id') }) }}');
        })(jQuery);
    </script>
{% endblock %}