{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'Album name'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for album in albums %}
                <tr class="albums">
                    <td class="album-id">{{ album.id }}</td>
                    <td><a href="#" class="album" data-url="{{ url('default-album-view', { id : album.id }) }}">{{ album.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="album-block" style="display: none;">
            <div id="items" class="row"></div>
            <script id="itemTemplate" type="text/html">
                <div class="col-xs-4 col-md-3">
                    <div class="thumbnail">
                        <img src="/uploads/<%= relative_path %>"/>
                        <div class="caption">
                            <h3><%= id %></h3>
                            <p><%= created_at %></p>
                        </div>
                    </div>
                </div>
            </script>

            <div id="paginationHtml" class="navigation"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function rebindNavigation() {
            $("#paginationHtml A").click(function () {
                $("#items").empty();
                var url = $(this).attr("href");
                loadDataAjax(url);
                return false;
            });
        }

        var ItemView = Backbone.Marionette.ItemView.extend({
            template: '#itemTemplate'
        });

        var CollectionView = Backbone.Marionette.CollectionView.extend({
            childView: ItemView
        });
        function loadDataAjax(url) {
            $.ajax({
                type: 'POST',
                url: url,
                success: function (data) {
                    var collection = new Backbone.Collection(data.pagination.items);

                    var view = new CollectionView({
                        collection: collection
                    });

                    $("#items").append(view.render().el);

                    $("#paginationHtml").html(data.pagination.paginationHtml);

                    rebindNavigation();
                    $('#album-block').show();
                }
            });
        }
        $('.album').click(function (e) {
            $("#items").empty();
            e.preventDefault();
            loadDataAjax($(this).data('url'));
        })

    </script>
{% endblock %}